body {
    
    padding: 40px 0;
    background: #EBF0F5;
    overflow-x: hidden;
  }
    h1 {
      color: #88B04B;
      font-family: sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
    }
    h3{
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size:'15px'
    }
    .checkmark{
        padding: 50px;
    }
    p {
      color: #404F5E;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size:20px;
      margin: 0;
    }
  i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  }
  .card {
    background: white;
    padding: 60px 0px;
    border-radius: 4px;
  min-width: 100%;
    box-shadow: 0 2px 3px #C8D0D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }