
.footer{

    display:grid;
    justify-content: space-between;
    align-items: space-between;
    background-color: #00a86b;
    width: 100vw!important;
    margin-top: 50px ;
    padding: 20px;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    margin-bottom: 0;
}
.footer div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}
.footer a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    text-transform: uppercase;
}
